{% extends "store/base.html" %}

{% block content %}
<form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}

    <div>
        <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
        {{ form.old_password }}
        {% if form.old_password.errors %}
            <div class="error">{{ form.old_password.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
            <div class="error">{{ form.new_password1.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
            <div class="error">{{ form.new_password2.errors }}</div>
        {% endif %}
    </div>

    {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}
    <div>
        <label for="{{ form.captcha.id_for_label }}">{{ form.captcha.label }}</label>
        {{ form.captcha }}
        {% if form.captcha.errors %}
            <div class="error">{{ form.captcha.errors }}</div>
        {% endif %}
    </div>
    <button type="submit">Đổi mật khẩu</button>
    <button type="button" class="js-captcha-refresh" data-url="/captcha/refresh/">↻ Reload CAPTCHA</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('.js-captcha-refresh').click(function(e){
        e.preventDefault();
        const $btn = $(this);

        $.getJSON($btn.data('url'), {}, function(json) {git
            $('img.captcha').attr('src', json.image_url);
            $('input[name="captcha_0"]').val(json.key);
        });

        return false;
    });
</script>
{% endblock %}